.App {
  position: absolute;
  width: 400px;
  height: calc(100% - 200px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 1px 4px rgb(84, 25, 139);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.Header {
  width: calc(100% - 40px);
  height: calc(100% - 280px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.Header h3 {
  font-size: 24px;
  color: blueviolet;
  display: flex;
  align-items: center;
}

.Header h3 > span {
  height: 20px;
  width: auto;
  border-radius: 3px;
  margin-right: 5px;
  color: #fff;
  background-color: blueviolet;
  padding: 2px 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header form {
  padding: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header form > input {
  width: calc(100% - 120px);
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #aaa;
}

.Header form > button {
  width: 90px;
  height: 100%;
  padding: 5px;
  border: none;
  background-color: blueviolet;
  color: #fff;
  font-size: 18px;
  border-radius: 0 5px 5px 0;
  transition: opacity .4s ease-out;
}

/* todo container */

.TodoContainer {
  width: 100%;
  height: 280px;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: blueviolet;
}

.Todo {
  width: calc(100% - 30px);
  height: auto;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.Todo > div {
  width: calc(100% - 85px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Todo span {
  margin-left: 10px;
  font-size: 14px;
}

.EndTodo {
  text-decoration: line-through;
  color: #aaa;
}

.Todo > button {
  width: 75px;
  height: 30px;
  border: 2px solid blueviolet;
  border-radius: 5px;
  color: blueviolet;
  background-color: #fff;
  font-size: 14px;display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  transition: color .4s ease-out, background-color .4s ease-out;
}

.Todo > button:hover {
  color: #fff;
  background-color: blueviolet;
}